@font-face {
  font-family: 'scorpius';
  src: url('/fonts/scorpius.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'crimson';
  src: url('/fonts/CrimsonText-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'crimson-bld';
  src: url('/fonts/CrimsonText-SemiBold.ttf') format('truetype');
  font-style: normal;
}