._draft::after {
	content: 'draft';
	font-size: 12px;
	color: var(--secondary);
	border-bottom: 3px solid yellow;
	margin: 3px;
	font-weight: normal;
	height: min-content;
}

body {
	text-shadow: var(--tertiary) 1px 0 6px;
}

menu {
	padding: 0;
}


/* 
.header-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: none;
	margin: 0;
	line-height: var(--header-height);
	padding: 0 var(--gap);
	column-gap: var(--gap);
} */

/* LABELS */
._label {
	font-size: 12px;
	text-transform: uppercase;
	background: var(--entry);
	border: 1px solid var(--border);
	padding: 3px 6px;
	width: fit-content;
	border-radius: var(--radius);
}

/* FIXED PROJECT MENU STYLING */
.project--list {
	padding: 0;
}

.project__menu {
	max-width: var(--menu-width);
	/* max-width: calc(var(--nav-width) + var(--gap) * 2); */
	padding: var(--gap);
	/* transition: transform 0.25s ease; */
	position: fixed;
}

.project--item {
	list-style: none;
	padding: 0 var(--gap) 12px 0;
}

.project--item:hover {
	transform: translateY(0);
		transition: all 15s ease;
}

.project--item:hover a {
	color: var(--accent-color);

}

.project--item:hover a::before {
	content: '';
	height: 0.5rem;
	width: 0.5rem;
	border-radius: var(--radius);
	display: inline-block;
	background: var(--underline);
	margin-right: 0.5rem;
	vertical-align: middle;
	transition: all 0.5s ease;
}

.project--list,
.page-footer {
	display: none;
}
