@import '../extended/custom_fonts.css';

:root {
	--title-font: Arial, sans-serif;
	--gap: 24px;
	--content-gap: 20px;
	--nav-width: 1024px;
	--main-width: 720px;
	--header-height: 60px;
	--menu-height: 36px;
	--menu-width: 340px;
	--footer-height: 60px;
	--radius: 12px;
	--theme: rgb(255, 255, 255);
	--entry: rgb(255, 255, 255);
	--primary: rgb(30, 30, 30);
	--secondary: rgb(108, 108, 108);
	--tertiary: rgb(214, 214, 214);
	--content: rgb(31, 31, 31);
	--code-block-bg: rgb(28, 29, 33);
	--code-bg: rgb(255, 255, 255);
	--border: rgb(238, 238, 238);
	color-scheme: light;
	font-size: 16px;
	line-height: 1.16;
}

:root[data-theme='dark'] {
	--theme: rgb(29, 30, 32);
	--entry: rgb(46, 46, 51);
	--primary: rgb(218, 218, 219);
	--secondary: rgb(155, 156, 157);
	--tertiary: rgb(65, 66, 68);
	--content: rgb(196, 196, 197);
	--code-block-bg: rgb(46, 46, 51);
	--code-bg: rgb(55, 56, 62);
	--border: rgb(51, 51, 51);
	color-scheme: dark;
}

.list {
	background: var(--code-bg);
}

[data-theme='dark'] .list {
	background: var(--theme);
}

._draft::after {
	content: 'draft';
	font-size: 12px;
	color: var(--secondary);
	border-bottom: 3px solid yellow;
	margin: 3px;
	font-weight: normal;
	height: min-content;
}
